---
layout: minimal
title: "About me"
permalink: /about/index.html
description: "Who is Kyle Boe?"
---

<img itemprop="image" class="img-rounded about_perfil" src="{{ site.profile_picture }}"  >

<h2>About Me</h2>

<p>My name is Kyle Boe and I am a software engineer at <a href="https://hint.io">Hint.io</a></p>
<p>My desire to understand how things work has led me headfirst into programming. In 2014, I went to a programming bootcamp in Portland, OR called <a href="https://www.epicodus.com/">Epicodus</a>.</p>
<p>Exploring new technologies fuels my passion to better my skills and learn as much as I can every day.</p>
<p>Scroll around to see what I've been working on recently!</p>

<h2>My Projects</h2>

<div class="aboutme">
  <ul class="recent">
    {% for project in site.projects %}
      <li><a href="{{ project.url}}"><h3 class="project-name" itemprop="name">{{ project.name }}</h3></a></li>
    {% endfor %}
  </ul>
</div>

<h2>Fun Stuff</h2>

<div class="aboutme">
  <ul class="recent">
    {% for goof in site.silly %}
      <li><a href="{{ goof.url}}"><h3 class="project-name" itemprop="name">{{ goof.name }}</h3></a></li>
    {% endfor %}
  </ul>
</div>