div {
	font-family: 'Roboto', sans-serif;
}

iframe {
	padding-top: 5px;
}

.blog-name {
	font-size: 200%;
	font-weight: 700;
	padding-left: 10px;
}

.message img {
	float: right;
	width: 15vh;
}

.blog-post {
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

.title {
	font-weight: 400;
	font-size: 18px;
}

.date-time {
	font-weight: 100;
	font-size: 14px;
}

.text, .song {
	font-weight: 300;
	max-width: 600px;
}

.song {
	padding-top: 10px;
}

