div {
	font-family: 'Roboto', sans-serif;
}

.blog-name {
	font-size: 200%;
	font-weight: 700;
}

.message img {
	float: right;
	width: 15vh;
}

.blog-post {
	padding-top: 30px;
}

.title {
	font-weight: 400;
	font-size: 18px;
}

.date-time {
	font-weight: 100;
	font-size: 14px;
}

.text {
	font-weight: 300;

}