body {
	font-family: 'Arimo', sans-serif;
}

iframe {
	padding-top: 5px;
}

p {
	color: #FFF;
	margin: auto;

}

.blog-name {
	font-size: 200%;
	font-weight: 700;
	padding-left: 10px;
}

img.twitter {
	float: right;
	width: 15vh;
}

.blog-post {
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

.title {
	font-weight: 400;
	font-size: 18px;
}

.date-time {
	font-weight: 100;
	font-size: 14px;
}

.text, .song {
	font-weight: 300;
	max-width: 600px;
}

.song {
	padding-top: 10px;
}

.movie {
	border-radius: 10px;
	width:70vw;
	margin: 0 auto;
	color: #FFF;
	text-align: center;
	vertical-align: middle;
	font-size: 6vw;
}

.red {
	background-color: #F44336; /*red*/
}

.blue {
	background-color: #2196F3; /* blue */
}

.green {
	background-color: #4CAF50; /* green */
}

.yellow {
	background-color: #FFC107; /* yellow */
}

.time-container {
	/*float:left;*/
	display: absolute;
	position:fixed;
}

.scale-container {
	float:right;
	display: absolute;
	position:fixed;
	top:8px;
	right:8px;
}

.time {
	display:inline;
}

.intermission {
	height:5px;
}

#now-button {
	height:30px;
	width:140px;
	background-color: #000;
	color:#FFF;
	border-radius: 10px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	cursor: pointer;
}

#time-bar {
	position:absolute;
	width: 100%;
	height: 2px;
	background-color: red;
}